@model List<WebSite.Models.Article>

@{
    Layout = "~/Views/Administration/_AdministrationLayout.cshtml";
}

<section class="container">

    <a href="/Administration/AddArticle" class="btn btn-lg btn-default" style="margin-bottom:10px;">New</a>

    @foreach (var article in this.Model)
    {

        <ul class="list-group">
            <li class="list-group-item justify-content-between">
                <h3>
                    <a href="#">@article.Title</a>
                </h3>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger">Action</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Action</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    }
</section>
