@model WebSite.Web.Models.AdminViewModel

<ul class="list-group">
    <li class="list-group-item justify-content-between">
        Articles
        <span class="badge badge-default badge-pill">@Model.Articles.Count</span>
    </li>
    <li class="list-group-item justify-content-between">
        Team Members
        <span class="badge badge-default badge-pill">@Model.TeamMembers.Count</span>
    </li>
    <li class="list-group-item justify-content-between">
        Pictures
        <span class="badge badge-default badge-pill">0</span>
    </li>
</ul>