@model List<WebSite.Models.Article>


<section class="wow bounceInRight container-fluid" id="articles">
    <header class="row">
        <h1>Articles</h1>
    </header>
    <article class="row">
        @{
            foreach (var article in this.Model)
            {
                <article class="col-md-4 animated fadeInLeft ">
                    <h3>@article.Title</h3>
                    <div>
                        @article.Content
                    </div>
                    <img src="~/@(article.Image.Location + article.Image.OriginalFileName)" style="width:350px; height:180px"/>
                </article>
            };
        }
    </article>
</section>

